<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
  <span id="pre" class="bg-light d-block"></span>
  <input id="data" class="bg-light d-block">
  <button id="btn1" class="btn btn-success">Post</button>
</div>
<br>
<br>
<div>
  <button id="btn2" class="btn btn-primary">Get</button>
  <div id="result" class="bg-light d-block"></div>
</div>
</body>
<script src="../js/jquery/jquery.js" ></script>
<script src="../js/site.js" ></script>
</html>